Makefile
CMakeCache.txt
CMakeFiles
*.cmake

# don't commit deps
_deps

# don't commit binary
efnlp

# don't commit proto codegen
*.pb.h
*.pb.cc

# don't commit written proto or json
*.proto.bin*
*.json.*

sample-results.txt
